body {
	font-family: Georgia, Times New Roman, Times, serif;
	color: #54340C;
	background-color: #E7C532;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.thumbnail {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page {
	max-width: 600px;
	border-style: solid;
	border-width: 1px;
	min-height: 1000px;
	background-color: #F9EFC6;
	padding: 50px;
}

#portfolio {
	background-color: #677C4B;
	border-style: solid;
	border-width: 1px;
	max-width: 500px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
}

.btn {
	background-color: #677C4B;
}

#contact {
	max-width: 600px;
}

a {
	color: #54340C;
}
